body{
  margin: 0;
  border: 0;
  font-family: Consolas;
  padding-bottom: 40px;
}
input::-webkit-input-placeholder {
  font-family: consolas;
}

input:-ms-input-placeholder {
  font-family: consolas;
}

input:-moz-placeholder {
  font-family: consolas;
}

input::-moz-placeholder {
  font-family: consolas;
}
input{
  font-family: consolas;
}
.header{
  /* width: 375px; */
  min-height: 212px;
  height: 40%;
  background: #ffff8c;

}
.mini-navbar{
  height: 50px;
  background: #ffff8c;
}
.mini-menu{
  margin-top: 10px;
}
.mini-heading{
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
}
.full-container{

  max-width: 500px;
  margin : auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}
.container{
  max-width: 500px;
  margin : auto;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
.logo{
  height: 200px;
  width: 200px;
}
.mini-logo img{
  height: 30px;
}
.headings{
  margin-top: 40px;
}
.heading{
  font-family: Consolas;
  font-weight: bold;
  font-size: 42px;
  text-align: left;
  color: #000;
}
.menu-icon{
  float: right;
}
.clear-button{
  /* display: inline-block; */
  float: right;
  padding: 10px;
  background : white;
  border-radius: 3px;
  box-shadow: #707070 2px 2px 2px;
  margin-right: 10px;
  margin-top: -4px;
}
.sub-heading{
  font-family: Consolas;
  font-weight: normal;
  font-size: 17px;
  text-align: left;
  color: #000;
  opacity: 0.73;
}
.line{
  border-bottom : 1px solid #EBEBEB;
}

ul{
  padding-inline-start: 0 !important;
  margin-block-start: 0 !important;
}
.light-grey-container{
  background: #F2F2F2;
  padding: 10px;
}
.list-date{
  margin-top: 5px;
  font-size: 12px;
}
.date{
  color: #A1A1A1;
}
.list-text{
  display: inline-block;
}
.list-item{
  list-style: none;
  background: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
}
.list-icon{
  float: right;
  vertical-align: middle;
  margin-top: 5px;
}
.list-done{
  text-decoration: line-through;
  color:#A1A1A1;
}

.heading-left{
  margin-left : 10px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
  margin-top: 5px;
}

/* INPUTS */
.input-large input{
  border: 1px solid #707070;
  padding: 10px;
  width: calc(100% - 25px);
  height: 45px;
  border-radius: 5px;
  outline: none;
  margin: 10px auto;
  
}
.btn-large{
  padding: 10px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin: 20px auto;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 13px;
}
.btn-yellow{
  background-color: #ffff8c;
}
.btn-black{
  background-color: black;
  color: #ffff8c;
}
.btn-small{
  display: inline-block;
  width: calc(50% - 42px);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.btn-border-black{
  border: 1px solid black;
}

.hint{
  color: #B8B8B8;
  float: right;
  font-size: 14px;
}

/* MARGINS */
.mt-70{
  margin-top: 70px;
}

.footer{
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffff8c;
}
.new-task{
  max-width: 500px;
  margin: auto;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.popup-title{
  padding-top: 15px;
}